$background-color: hsl(217, 33%, 17%);
$header-color: hsl(246, 100%, 5%);
$header-height: 4rem;
$max-content-width: 80rem;
$sidebar-width: 20rem;
$primary-color: hsl(169, 100%, 60%);
$secondary-color: hsl(211, 100%, 60%);
$footer-color: hsl(169, 5%, 20%);
