@import "../variables";

.container {
    max-width: $max-content-width;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-content {
    margin-right: calc($sidebar-width + 2rem);
}

@media screen and (max-width: calc($max-content-width + 2rem)) {
    .main-content {
        margin-left: 1rem;
    }
}
