.menu-toggle {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 1rem;

    & > svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
